* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #121212;
}

body h1 {
    font-family: "Fredoka", serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
    color: white;
}

body h3 {
    margin-top: 1%;
    font-family: "Montserrat", serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}


/* #mood {
    font-family: "Bubblegum Sans", serif;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;

} */

#mood {
    display: flex;
    margin-top: 2%;
    align-items: center;
    justify-content: center;
    
   
}

#mood button {
    font-family: "Bubblegum Sans", serif;
    font-size: 110%;
    margin-left: 2%;
    padding: 1%;
    /* background-color: black;
    color: white; */
}

/* #mood button:hover {
    background-color: #0A97B0
} */

#music-player{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    background-color: wheat ;
}

/* Happy button */
#happy {
    background-color: #FFD700; /* Bright yellow */
    color: white;
  }
  
  #happy:hover {
    background-color: #FFC300; /* Lighter yellow */
    transform: scale(1.05);
  }
  
  /* Sad button */
  #sad {
    background-color: #6495ED; /* Cornflower blue */
    color: white;
  }
  
  #sad:hover {
    background-color: #4169E1; /* Royal blue */
    transform: scale(1.05);
  }
  
  /* Relaxed button */
  #relaxed {
    background-color: #20B2AA; /* Light sea green */
    color: white;
  }
  
  #relaxed:hover {
    background-color: #2E8B57; /* Sea green */
    transform: scale(1.05);
  }
  
  /* Motivated button */
  #motivated {
    background-color: #FF6347; /* Tomato red */
    color: white;
  }
  
  #motivated:hover {
    background-color: #FF4500; /* Orange red */
    transform: scale(1.05);
  }
  
  /* Party button */
  #party {
    background-color: #FF1493; /* Deep pink */
    color: white;
  }
  
  #party:hover {
    background-color: #FF69B4; /* Hot pink */
    transform: scale(1.05);
  }

  /*  Romantic Button */

  /* Party button */
  #romantic {
    background-color: #5631a2; /* Hot pink */
    color: white;
  }
  
  #romantic:hover {
    background-color: #d6132a; /* Deep pink */
    transform: scale(1.05);
  }
